.pantalla-inicio {
  height: 100%;
  width: 100%;
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url(../img/Fondo_inicial.jpg) center / cover no-repeat;
}

.pantalla-inicio .superposicion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pantalla-inicio .superposicion .logo {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.pantalla-inicio .superposicion .texto-cargando {
  margin-bottom: 10px;
  font-weight: 600;
}




.pantalla-inicio .barra-progreso {
  box-sizing: content-box;
  width: 100%;
  max-width: 400px;
  height: 20px;
  background: #FFF1C7;
  border: 5px solid #fff;
  border-radius: 999px;
  overflow: hidden;
}



.pantalla-inicio .progreso {
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to right, #ED7B00, #FFBB03);
  border-radius: 999px 0 0 999px;
  transition: width 0.3s ease;
}


@keyframes animar-carga {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.pantalla-inicio .progreso {
  animation: animar-carga 2s forwards;
}